mixin checkbox(inpId, inpName, label, isChecked)
  .wrap-fcustominp
    span.fcustominp
      input(id=inpId, type='checkbox', name=inpName, checked=isChecked)
      label(for=inpId)
    label.fcustominp-label(for=inpId)= label

mixin radio(inpId, inpName, label, isChecked)
  .wrap-fcustominp
    span.fcustominp
      input(id=inpId, type='radio', name=inpName, checked=isChecked)
      label(for=inpId)
    label.fcustominp-label(for=inpId)= label